[submodule "Course3-NodeJS/conFusion-React"]
	path = Course3-NodeJS/conFusion-React
	url = https://github.com/jmuppala/conFusion-React.git
[submodule "Course3-NodeJS/conFusion-React-Firebase"]
	path = Course3-NodeJS/conFusion-React-Firebase
	url = https://github.com/jmuppala/conFusion-React-Firebase.git
